/Webapp/node_modules
/Webapp/public/hot
/Webapp/public/storage
/Webapp/storage/*.key
/Webapp/vendor
/Webapp/.idea
/Webapp/.vagrant
/Webapp/Homestead.json
/Webapp/Homestead.yaml
/Webapp/npm-debug.log
/Webapp/.env
/Webapp/public/img/*/*
/Webapp/composer.lock
